
<br>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                ##Link
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
    </div>
    <div class="card-deck mt-4">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text">
                    Name:
                    <br> Mobile:
                    <br> Address:
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="card-footer">
                #Link
            </div>
        </div>
    </div>
</div>